body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  background-color: #e0f7fa;
}

/* Estilos generales */
.Contenido {
  max-width: 60%;
  margin: 0 auto;
  padding: 20px;
  font-size: larger;
}

.ContenidoP {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#TituloH {
  font-size: 32px;
  color: #00296b;
  margin-bottom: 20px;
  display: block;
  width: 100%;
  text-align: center;
}

.InfoHistoria {
  margin-top: 20px;
  padding: 20px;
  background-color: #00296b;
  border-radius: 8px;
  color: #ffffff;
  width: 75%;
}

.InfoHistoria p {
  margin-bottom: 1.5em;
  text-align: justify;
}

.Info h2 {
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

footer {
  margin-top: 5%;
}

aside {
  height: 850px;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
  .Contenido {
    max-width: 90%;
    padding: 15px;
    font-size: large; /* Tamaño de fuente aumentado */
  }

  #TituloH {
    font-size: 30px; /* Tamaño de fuente aumentado */
  }

  .InfoHistoria {
    width: 100%;
    padding: 15px;
  }

  .InfoHistoria p {
    font-size: 18px; /* Tamaño de fuente aumentado */
  }
}

@media (max-width: 480px) {
  .Contenido {
    max-width: 100%;
    padding: 10px;
    font-size: medium; /* Tamaño de fuente aumentado */
  }

  #TituloH {
    font-size: 26px; /* Tamaño de fuente aumentado */
  }

  .InfoHistoria {
    padding: 10px;
  }

  .InfoHistoria p {
    font-size: 19px; /* Tamaño de fuente aumentado */
  }

  footer {
    margin-top: 10%;
    font-size: 14px; /* Tamaño de fuente aumentado */
  }
}
