body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  background-color: #e0f7fa;
}

.Contenido {
  max-width: 60%;
  margin: 0 auto;
  padding: 20px;
  font-size: larger;
}

.ContenidoP {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Servicios {
  margin-top: 20px;
  padding: 20px;
  background-color: #00296b;
  border-radius: 8px;
  color: #ffffff;
  max-width: 70%;
  text-align: center;
}

#TituloH {
  font-size: 32px;
  color: #00296b;
  margin-bottom: 20px;
  display: block;
  width: 100%;
  text-align: center;
}

.InfoHistoria {
  margin-top: 20px;
  padding: 20px;
  background-color: #00296b;
  border-radius: 8px;
  color: #ffffff;
}

.InfoHistoria p {
  margin-bottom: 1.5em;
  text-align: justify;
}

.Info h2 {
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

footer {
  margin-top: 5%;
  text-align: center;
}

aside {
  height: 850px;
}

/* Media query para pantallas medianas (tabletas y pantallas similares) */
@media (max-width: 992px) {
  .Contenido {
    max-width: 80%;
    padding: 15px;
    font-size: large;
  }

  .Servicios {
    max-width: 80%;
    padding: 15px;
  }

  #TituloH {
    font-size: 28px;
  }
}

/* Media query para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .Contenido {
    max-width: 90%;
    padding: 15px;
    font-size: large;
  }

  .Servicios {
    max-width: 90%;
    padding: 15px;
  }

  #TituloH {
    font-size: 26px;
  }
}

/* Media query para pantallas muy pequeñas (móviles pequeños) */
@media (max-width: 480px) {
  .Contenido {
    max-width: 100%;
    padding: 10px;
    font-size: medium;
  }

  .Servicios {
    max-width: 100%;
    padding: 10px;
  }

  #TituloH {
    font-size: 26px;
  }

  footer {
    margin-top: 10%;
    font-size: 14px;
  }

  .ContenidoP{
    font-size: 19px;
  }
}
